 @font-face {
     font-family: ApercuRegular;
     src: url('fonts/Apercu_Regular.otf');
 }

 body {
     margin: 0;
     padding: 0;
     font-family: 'ApercuRegular';
 }
 
 /* CONTENT */
  .header__image {
      width: 100%;
      height: auto;
  }

  .header__image-div {
      position: absolute;
      background-color: #3AAFA9;
      opacity: 30%;
      width: 100%;
      height: 68%;
      top: 12.3%;
  }

  .category {
      background-color: #DEF2F1;
      width: 97%;
      margin-top: -3px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      cursor: default;
  }

  .category-item {
      color: rgb(121, 121, 121);
      padding-left: 5px;
      padding-right: 5px;
      cursor: pointer;
  }

  .active {
      color: black;
      cursor: default;
  }